.reviews__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include container();
}

.reviews__arrow {
  display: block;
  width: 22px;
  height: 41px;

  cursor: pointer;
  opacity: 0.3;;

  &:hover {
    opacity: 1;
  }

  &--prev {
    background: url(../img/icons/arrow-left.svg) no-repeat center;
  }

  &--next {
    background: url(../img/icons/arrow-right.svg) no-repeat center;
  }
}

.reviews__slider {
  width: 800px;
  margin: 0 auto;
}

.reviews__content {
  margin: 0;

  text-align: center;
}

.reviews__text {
  margin: 0 0 40px;
}

.reviews__author {
  margin: 0 0 10px;

  font-weight: bold;
  font-size: 24px;
  color: black;
}

.reviews__author_description {
  margin: 0 0 30px;
}



@media (max-width: 1200px) {
  .reviews__slider {
    width: 620px;
  }

  .reviews__author {
    font-size: 20px;
  }

  .reviews__author_description {
    font-size: 14px;
    line-height: 24px;
  }
}


@media (max-width: 700px) {
  .reviews__slider {
    width: 280px;
  }

  .reviews__content {
    display: flex;
    flex-direction: column;
  }

  .reviews__text {
    order: 1;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 30px;
    text-align: left;
  }

  .reviews__author_description {
    display: none;
  }
}
