.field-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }
}

.field-text__label {
  margin-right: 20px;

  font-size: 14px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
}

.field-text__input {
  flex-grow: 1;
  padding: 14px 0 14px 20px;

  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;

  border: 2px solid $light-grey;
  outline-color: $light-grey;

  &::placeholder {
    color: $dark-blue;
  }

  &:hover {
    border: 2px solid $dark-blue;
  }

  &:active {
    border: 2px solid $pink;
  }
}



@media (max-width: 700px) {
  .field-text {
    margin-bottom: 15px;
  }

  .field-text__label {
    margin: 0 0 5px 20px;
  }
}
