.upload {
  margin-bottom: 100px;

  text-align: center;
}

.upload__heading-wrapper {
  margin-bottom: 60px;

  @include container();
}

.upload__heading {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.upload__content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
  padding: 60px 80px;

  background-color: $light-grey;
}

.upload__img {
  box-sizing: border-box;
  width: 300px;
  height: 400px;

  background: url(../img/photo-watermelon.jpg) no-repeat center;
  background-size: cover;
  border: 5px solid white;
}

.upload__instruments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
}

.upload__instruments-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  border-bottom: 1px solid $dark-blue-10;
  cursor: pointer;
}

.upload__instruments-crop {
  width: 44px;
  height: 44px;
}

.upload__instruments-fill {
  width: 48px;
  height: 48px;
}

.upload__instruments-contrast {
  width: 48px;
  height: 32px;
}

.upload__instruments-range {
  position: relative;

  width: 290px;
  height: 2px;
  margin-right: 30px;

  background-color: $dark-blue-30;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 72px;

    width: 13px;
    height: 13px;

    background-color: white;
    border: 2px solid $pink;
    border-radius: 50%;
  }

  &--fill {
    &::before {
      left: 248px;
    }
  }

  &--contrast {
    &::before {
      left: 161px;
    }
  }
}

.upload__wrapper-btn {
  display: flex;
  justify-content: space-between;
}



@media (max-width: 1200px) {
  .upload {
    width: 100%;
    margin-bottom: 50px;
    padding: 0;
  }

  .upload__container {
    background-color: $light-grey;
  }

  .upload__content-wrapper {
    width: 620px;
    margin: 0 auto;
    padding: 60px 40px;
  }

  .upload__img {
    width: 260px;
    height: 346px;
  }

  .upload__instruments {
    width: 300px;
  }

  .upload__wrapper {
    margin-left: 20px;
  }

  .upload__instruments-item {
    padding: 25px 0;

    &:first-child {
      padding: 0 0 25px;
    }
  }

  .upload__instruments-crop {
    width: 22px;
    height: 22px;
  }

  .upload__instruments-fill {
    width: 24px;
    height: 22px;
  }

  .upload__instruments-contrast {
    width: 16px;
    height: 16px;
  }

  .upload__wrapper-btn {
    flex-direction: column;
  }

  .upload__instruments-range {
    position: relative;

    width: 202px;
    height: 2px;
    margin-right: 30px;

    background-color: $dark-blue-30;

    &::before {
      left: 140px;
    }

    &--fill {
      &::before {
        left: 25px;
      }
    }

    &--contrast {
      &::before {
        left: 90px;
      }
    }
  }
}



@media (max-width: 700px) {
  .upload {
    margin-bottom: 30px;
  }

  .upload__content-wrapper {
    flex-direction: column;
    width: 280px;
    padding: 30px 20px;
  }

  .upload__img {
    width: 280px;
    height: 374px;
    margin-bottom: 40px;
  }

  .upload__heading {
    font-size: 14px;
    line-height: 24px;
  }

  .upload__instruments {
    width: 100%;
  }

  .upload__wrapper {
    margin-left: 0;
  }

  .upload__instruments-item:last-child {
    margin-bottom: 40px;
  }

  .upload__heading-wrapper {
    margin-bottom: 30px;
  }
}
